body{
    font-family: Arial;
    background:#f5f5f5;
}

.container{
    width:800px;
    margin:auto;
    margin-top:40px;
}

#chat-box{
    height:500px;
    background:white;
    border:1px solid #ddd;
    overflow:auto;
    padding:15px;
}

.input-area{
    margin-top:10px;
}

input{
    width:85%;
    padding:10px;
}

button{
    padding:10px 15px;
}